<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><%= title  %>
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/admin">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Products</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">All Products</h3>
                        <a href="/admin/product/create" class="btn btn-success btn-lg float-right rounded">Create</a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <% if (products && products != [] ) { %>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Created On</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% products.forEach((product,index) => { %>
                                        <tr>
                                            <td><%= index + 1 %>
                                            </td>
                                            <td><%= product.title  %>
                                            </td>
                                            <td>
                                                <textarea readonly><%= product.description  %>
                                                </textarea>
                                            </td>
                                            <td>
                                                <%= new Date(product.created_on)  %>
                                            </td>
                                            <td>
                                                <%- product.status == true ? '<span class="badge bg-success">Active</span>' : '<span class="badge bg-danger">Inactive</span>'  %>
                                            </td>
                                            <td>
                                                <a href="/admin/product/view/<%= product._id %> ">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                                <a href="/admin/product/update/<%= product._id %> ">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                                <a href="/admin/product/delete/<%= product._id %> ">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        <% } else { %>
                            <h1>No Records Found</h1>
                        <% } %>

                    </div>
                    <!-- /.card-body -->
                    <% if(pages > 0){ %>
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                <% if (i !== 1) { %>
                                    <li class="page-item">
                                        <a class="page-link" disabled>...</a>
                                    </li>
                                <% } %>
                                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                    <% if (i == current) { %>
                                        <li class="page-item active">
                                            <a class="page-link"><%= i %></a>
                                        </li>
                                    <% } else { %>
                                        <li class="page-item">
                                            <a href="/admin/product/index?page=<%= i  %>" class="page-link"><%= i %></a>
                                        </li>
                                    <% } %>
                                    <% if (i == Number(current) + 4 && i < pages) { %>
                                        <li class="page-item">
                                            <a class="page-link" disabled>...</a>
                                        </li>
                                    <% } %>
                                <% } %>
                                <% if (current == pages) { %>
                                    <li class="page-item">
                                        <a class="page-link" disabled>Last</a>
                                    </li>
                                <% } else { %>
                                    <li class="page-item">
                                        <a class="page-link" href="/admin/product/index?page=<%= pages %>">Last</a>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    <% } %>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
