<aside class="main-sidebar sidebar-light-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                <li class="nav-item menu">                        
                    <a href="#" class="nav-link"> 
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Pages
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/about/update" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Update About-US</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/blog/create" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Create</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Banner -->
                <li class="nav-item <%= (currentUrl === '/admin/banner/update' || currentUrl === '/admin/banner/view/' || currentUrl === '/admin/banner/index' || currentUrl === '/admin/banner/create') ? 'menu-open' : 'menu'  %>">                        
                    <a href="#" class="nav-link"> 
                        <i class="nav-icon fas fa-image"></i>
                        <p>
                            Banners
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/banner/index" class="nav-link <%= (currentUrl === '/admin/banner/update' || currentUrl === '/admin/banner/view' || currentUrl === '/admin/banner/index' || currentUrl === '/admin/banner') ? 'active' : ''  %>">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Manage</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/banner/create" class="nav-link <%= (currentUrl === '/admin/banner/create') ? 'active' : ''  %>">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Create</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Banner END -->

                <!-- CTA -->
                <li class="nav-item <%= (currentUrl === '/admin/cta/update' || currentUrl === '/admin/cta/view/' || currentUrl === '/admin/cta/index' || currentUrl === '/admin/cta/create') ? 'menu-open' : 'menu'  %>">                        
                    <a href="#" class="nav-link"> 
                        <i class="nav-icon fas fa-image"></i>
                        <p>
                            CTA
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/cta/index" class="nav-link <%= (currentUrl === '/admin/cta/update/' || currentUrl === '/admin/cta/view' || currentUrl === '/admin/cta/index' || currentUrl === '/admin/cta') ? 'active' : ''  %>">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Manage</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/cta/create" class="nav-link <%= (currentUrl === '/admin/cta/create') ? 'active' : ''  %>">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Create</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- CTA END -->


                <!-- Brand -->
                <li class="nav-item <%= (currentUrl === '/admin/brand/update' || currentUrl === '/admin/brand/view/' || currentUrl === '/admin/brand/index' || currentUrl === '/admin/brand/create') ? 'menu-open' : 'menu'  %>">                        
                    <a href="#" class="nav-link"> 
                        <i class="nav-icon fas fa-image"></i>
                        <p>
                            Brands
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/brand/index" class="nav-link <%= (currentUrl === '/admin/brand/update/' || currentUrl === '/admin/brand/view' || currentUrl === '/admin/brand/index' || currentUrl === '/admin/brand') ? 'active' : ''  %>">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Manage</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/brand/create" class="nav-link <%= (currentUrl === '/admin/brand/create') ? 'active' : ''  %>">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Create</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Brand END -->

                <!-- Testimonials -->
                <li class="nav-item <%= (currentUrl === '/admin/testimonial/update' || currentUrl === '/admin/testimonial/view/' || currentUrl === '/admin/testimonial/index' || currentUrl === '/admin/testimonial/create') ? 'menu-open' : 'menu'  %>">                        
                    <a href="#" class="nav-link"> 
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Testimonials
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/testimonial/index" class="nav-link <%= (currentUrl === '/admin/testimonial/update/' || currentUrl === '/admin/testimonial/view' || currentUrl === '/admin/testimonial/index' || currentUrl === '/admin/testimonial') ? 'active' : ''  %>">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Manage</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/testimonial/create" class="nav-link <%= (currentUrl === '/admin/testimonial/create') ? 'active' : ''  %>">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Create</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Brand END -->
                
                <li class="nav-item <%= (currentUrl === '/admin/blog/update' || currentUrl === '/admin/blog/view/' || currentUrl === '/admin/blog/index' || currentUrl === '/admin/blog/create') ? 'menu-open' : 'menu'  %>">                        
                    <a href="#" class="nav-link"> 
                        <i class="nav-icon fas fa-blog"></i>
                        <p>
                            Blogs
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/blog/index" class="nav-link <%= (currentUrl === '/admin/blog/update' || currentUrl === '/admin/blog/view' || currentUrl === '/admin/blog/index') ? 'active' : ''  %>">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Manage</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/blog/create" class="nav-link <%= (currentUrl === '/admin/blog/create') ? 'active' : ''  %>">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Create</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item <%= (currentUrl === '/admin/category/update' || currentUrl === '/admin/category/view/' || currentUrl === '/admin/category/index' || currentUrl === '/admin/category/create') ? 'menu-open' : 'menu'  %>">                        
                    <a href="#" class="nav-link"> 
                        <i class="nav-icon fab fa-cuttlefish"></i>
                        <p>
                            Category
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/category/index" class="nav-link <%= (currentUrl === '/admin/category/update' || currentUrl === '/admin/category/view' || currentUrl === '/admin/category/index') ? 'active' : ''  %>">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Manage</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/category/create" class="nav-link <%= (currentUrl === '/admin/category/create') ? 'active' : ''  %>">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Create</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item <%= (currentUrl === '/admin/product/update' || currentUrl === '/admin/product/view/' || currentUrl === '/admin/product/index' || currentUrl === '/admin/product/create') ? 'menu-open' : 'menu'  %>">                        
                    <a href="#" class="nav-link"> 
                        <i class="nav-icon fab fa-product-hunt"></i>
                        <p>
                            Product
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/product/index" class="nav-link <%= (currentUrl === '/admin/product/update' || currentUrl === '/admin/product/view' || currentUrl === '/admin/product/index') ? 'active' : ''  %>">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Manage</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/product/create" class="nav-link <%= (currentUrl === '/admin/product/create') ? 'active' : ''  %>">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Create</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>