<% 
var numberofColumns = 4;
var rowCount = 0;
var bootstrapColumns = 12 / numberofColumns;
%> 
<header class="header-area header-height-1">
    <div class="header-top header-top-ptb-1 bg-gray d-none d-lg-block">
        <div class="custom-container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info">
                        <ul>
                            <li>
                                <a href="#">(+88) - 1990 - 6886   </a>
                            </li>
                            <li><a target="_blank" href="https://www.google.com/maps">Store location</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4">
                    <div class="covid-update text-center">
                        <p><a href="#">COVID-19 UPDATE</a> We are open with limited hours and staff.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info header-info-right">
                        <ul>
                            <li>
                                <a class="language-dropdown-active" href="#">English <i class="fa fa-chevron-down"></i></a>
                                <ul class="language-dropdown">
                                    <li><a href="#">Français</a></li>
                                    <li><a href="#">Deutsch</a></li>
                                </ul>
                            </li>
                            <% if(user){ %> 
                                <li>
                                    <a class="language-dropdown-active" href="#"><%= user.name %>  <i class="fa fa-chevron-down"></i></a>
                                    <ul class="language-dropdown">
                                        <li><a href="/user/my-account">My Profile</a></li>
                                        <li><a href="/user/logout">LogOut</a></li>
                                    </ul>
                                </li>
                            <% }else{ %> 
                            <li><a href="/user/login">Log In / Sign Up</a></li>
                            <% } %> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom sticky-bar sticky-white-bg">
        <div class="custom-container">
            <div class="header-wrap header-space-between position-relative">
                <div class="logo logo-width-1">
                    <a href="index.html"><img src="/images/logo/logo.png" alt="logo"></a>
                </div>
                <div class="main-menu main-menu-padding-1 main-menu-lh-1 d-none d-lg-block hover-boder">
                    <nav>
                        <ul>
                            <li><a class="active" href="/">Home</a></li>
                            <li><a href="/shop">Category <i class="fa fa-chevron-down"></i></a>
                                <ul class="sub-menu">
                                    <% categories.forEach(category => { %>
                                        <li><a href="/shop/category/<%= category.slug %>"><%= category.title  %> </a></li>
                                    <% }) %>
                                </ul>
                            </li>
                            <li class="position-static" ><a href="#">Products<i class="fa fa-chevron-down"></i></a>
                                <ul class="mega-menu"  style="overflow-y: scroll;height: 350px;" >
                                    <div class="row mt-1">
                                        <% var i=1; %> 
                                        <% categories.forEach(category => { %>
                                            <li class="sub-mega-menu sub-mega-menu-width-22">
                                                <a class="menu-title" style="text-align: center;" href="/shop/category/<%= category.slug %>"><%= category.title %> </a>
                                                <ul>
                                                    <% var categoryWiseProducts = category.products %> 
                                                    <% categoryWiseProducts.forEach(product => { %>
                                                        <li><a href="/shop/product/<%= product.slug %>"><%= product.title %> </a></li>
                                                    <% }) %> 
                                                </ul>
                                            </li>
                                            <% rowCount++; if(rowCount % numberofColumns == 0){ %> 
                                                </div><hr /><div class="row mt-1">
                                            <% } %> 
                                        <% }) %> 
                                    </div>
                                </ul>
                            </li>
                            <li><a href="/about-us">About-Us</a></li>
                            <li><a href="/contact-us">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-action-right">
                    <div class="header-action">
                        <div class="header-action-icon">
                            <a class="search-active" href="#"><i class="far fa-search"></i></a>
                        </div>
                        <div class="header-action-icon">
                            <a href="wishlist.html"><i class="far fa-heart"></i></a>
                        </div>
                        <div class="header-action-icon header-action-mrg-none">
                            <a href="/cart">
                                <i class="far fa-shopping-bag"></i>
                                <span class="pro-count blue"><%= cartCount %></span>
                            </a>
                        </div>
                        <div class="header-action-icon d-block d-lg-none">
                            <div class="burger-icon">
                                <span class="burger-icon-top"></span>
                                <span class="burger-icon-bottom"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>