<% if(typeof banners != 'undefined' && banners.length > 0){ %> 
  <div class="slider-banner-area padding-10-row-col">
    <div class="custom-container">
      <div class="row">
        <div class="custom-common-column custom-column-width-66 custom-padding-5">
          <div class="slider-area">
            <div class="hero-slider-active-1 nav-style-1 nav-style-1-position-1">
              <% banners.forEach(banner => { %>
 
                <div class="single-hero-slider single-animation-wrap slider-height-1 custom-d-flex custom-align-item-end bg-img"
                  style="background-image:url(/uploads/banners/<%= banner.image %>);">
                  <div class="hero-slider-content-1 slider-animated-1">
                    <h1 class="animated"><%= banner.title %> </h1>
                    <p class="animated"><%- banner.description %> </p>
                    <div class="btn-style-1">
                      <a class="animated" href="<%= banner.link %>"> Buy now </a>
                    </div>
                  </div>
                  <div class="slider-product-price slider-product-position1 slider-animated-1 animated">
                    <h3>
                      <span>From</span>
                      $<%= banner.price %>*
                    </h3>
                  </div>
                </div>
                
              <% }) %>
            </div>
          </div>
        </div>
        <div class="custom-common-column custom-column-width-33 custom-padding-5">
          <div class="banner-area banner-area-mt">
            <div class="row">
              <div class="col-xl-12 col-lg-6 col-md-6 col-12 col-sm-12">
                <div class="banner-wrap wow tmFadeInUp mb-10">
                  <div class="banner-img banner-img-zoom">
                    <a href="product-details.html"><img src="/images/banner/banner-1.jpg" alt=""></a>
                  </div>
                  <div class="banner-content-1">
                    <span>Home Medical Supplies</span>
                    <h2>Portable Mesh Atomizer</h2>
                    <h3>$40.00</h3>
                    <div class="btn-style-1">
                      <a class="font-size-14 btn-1-padding-2" href="product-details.html">Shop now </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-12 col-lg-6 col-md-6 col-12 col-sm-12">
                <div class="banner-wrap wow tmFadeInUp mb-10">
                  <div class="banner-img banner-img-zoom">
                    <a href="product-details.html"><img src="/images/banner/banner-2.jpg" alt=""></a>
                  </div>
                  <div class="banner-content-1">
                    <span>Home Medical Supplies</span>
                    <h2>Sanitizer Gel Alcohol</h2>
                    <h3>$15.00</h3>
                    <div class="btn-style-1">
                      <a class="font-size-14 btn-1-padding-2" href="product-details.html">Shop now </a>
                    </div>
                  </div>
                  <div class="banner-badge banner-badge-position1">
                    <h3>
                      <span>Best</span>
                      Selling
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% } %> 
<% if(typeof dealsProducts != 'undefined' && dealsProducts.length > 0){ %> 
  <div class="product-area pt-80 pb-75">
    <div class="custom-container">
      <div class="product-area-border">
        <div class="section-title-timer-wrap">
          <div class="section-title-1">
            <h2>Daily Deal Of The Day</h2>
          </div>
          <div id="timer-1-active" class="timer-style-1">
            <span>End in:</span>
            <div data-countdown="2009/12/30"></div>
          </div>
        </div>
        <div class="product-slider-active-1 nav-style-2 product-hm1-mrg">
          <% dealsProducts.forEach(deal => { %>
           
            <div class="product-plr-1">
              <div class="single-product-wrap">
                <div class="product-badges product-badges-mrg">
                  <% var discount = Number(deal.oldprice) %> 
                  <span class="discount red">-<%=  Math.round(((deal.oldprice - deal.price) / deal.oldprice) * 100) %>% </span>
                </div>
                <div class="product-content-wrap">
                  <div class="product-category">
                    <a href="<%= `/shop/category/${deal.category.slug}` %>"><%= deal.category.title %></a>
                  </div>
                  <h2><a href="<%= `/shop/product/${deal.slug}` %>"><%= deal.title %> </a></h2>
                  <div class="product-price">
                    <span class="new-price"><%= '$'+parseFloat(deal.price).toFixed(2) %> </span>
                    <span class="old-price"><%= '$'+parseFloat(deal.oldprice).toFixed(2) %> </span>
                  </div>
                </div>
                <div class="product-img-action-wrap mb-20 mt-25">
                  <div class="product-img product-img-zoom">
                    <a href="<%= `/shop/product/${deal.slug}` %>">
                      <img class="default-img" src="<%= `/uploads/${deal.image}` %>" alt="">
                    </a>
                  </div>
                  <div class="product-action-1">
                    <button aria-label="Add To Cart" onclick="addToCart('<%= deal._id %>')"><i class="far fa-shopping-bag"></i></button>
                    <button aria-label="Add To Wishlist"><i class="far fa-heart"></i></button>
                    <button aria-label="Compare"><i class="far fa-signal"></i></button>
                  </div>
                </div>
              </div>
            </div>

          <% }) %>
        </div>
      </div>
    </div>
  </div>
<% } %> 
<% if(typeof ctas != 'undefined' && ctas.length > 0) { %> 
  <div class="banner-area pb-40">
    <div class="custom-container">
      <div class="row">
        <% ctas.forEach(cta => { %>
         
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="banner-wrap wow tmFadeInUp mb-30">
              <div class="banner-img banner-img-zoom">
                <a href="<%= cta.link  %>"><img src="<%= `/uploads/cta/${cta.image}` %>" alt=""></a>
              </div>
              <div class="banner-content-1">
                <span><%= cta.subtitle %></span>
                <h2><%= cta.title %></h2>
                <h3>$<%= parseFloat(cta.price).toFixed(2) %></h3>
                <div class="btn-style-1">
                  <a class="font-size-14 btn-1-padding-2" href="<%= cta.link %>">Shop now </a>
                </div>
              </div>
            </div>
          </div>

          <% }) %>
      </div>
    </div>
  </div>
<% } %> 
<% if(typeof shopByCategories != 'undefined' && shopByCategories.length > 0 ){ %> 
  <div class="categories-area pb-70">
    <div class="custom-container">
      <div class="section-title-1 mb-40">
        <h2>Shop by categories</h2>
      </div>
      <div class="categories-slider-1 wow tmFadeInUp">
        <% shopByCategories.forEach(category => { %>
         
          <div class="product-plr-1">
            <div class="categories-wrap">
              <div class="categories-img categories-img-zoom">
                <a href="<%= `/shop/category/${category.slug}` %>"><img src="<%= `/uploads/${category.image}` %>" alt=""></a>
              </div>
              <div class="categories-content text-center">
                <h3><a href="<%= `/shop/category/${category.slug}` %>"><%= category.title %></a></h3>
              </div>
            </div>
          </div>

        <% }) %>
      </div>
    </div>
  </div>
<% } %> 
<% if(typeof hotItems != 'undefined' && hotItems.length > 0){ %> 
  <div class="product-area pb-70">
    <div class="custom-container">
      <div class="section-title-btn-wrap mb-35">
        <div class="section-title-1">
          <h2>Hot items</h2>
        </div>
        <div class="btn-style-2">
          <a href="/shop?hot=HOT">View all products <i class="far fa-long-arrow-right"></i></a>
        </div>
      </div>
      <div class="product-slider-active-1 nav-style-2 nav-style-2-modify-2">
        <% hotItems.forEach(hot => { %>
         
        <div class="product-plr-1">
          <div class="single-product-wrap">
            <div class="product-img-action-wrap mb-20">
              <div class="product-img product-img-zoom">
                <a href="<%= `/shop/product/${hot.slug}` %>">
                  <img class="default-img" src="<%= `/uploads/${hot.image}` %>" alt="">
                  <% if(hot.images.length > 0){ %> 
                  <img class="hover-img" src="<%= `/uploads/products/${hot.images[0]}` %>" alt="">
                  <% }else{ %> 
                    <img class="hover-img" src="<%= `/uploads/${hot.image}` %>" alt="">
                  <% } %> 
                </a>
              </div>
              <div class="product-action-1">
                <button aria-label="Add To Cart"><i class="far fa-shopping-bag"></i></button>
                <button aria-label="Add To Wishlist"><i class="far fa-heart"></i></button>
                <button aria-label="Compare"><i class="far fa-signal"></i></button>
              </div>
              <div class="product-badges product-badges-position product-badges-mrg">
                <span class="hot yellow">Hot</span>
              </div>
            </div>
            <div class="product-content-wrap">
              <div class="product-category">
                <a href="<%= `/shop/category/${hot.category.slug}` %>"><%= hot.category.ttitle %></a>
              </div>
              <h2><a href="<%= `/shop/product/${hot.slug}` %>"><%= hot.title %></a></h2>
              <div class="product-price">
                <span>$<%= parseFloat(hot.price).toFixed(2) %> - $<%= parseFloat(hot.oldprice).toFixed(2) %> </span>
              </div>
            </div>
          </div>
        </div>

        <% }) %>
      </div>
    </div>
  </div>
<% } %> 
<div class="banner-area pb-45">
  <div class="custom-container">
    <div class="row">
      <div class="col-lg-8">
        <div class="banner-wrap wow tmFadeInUp mb-30">
          <div class="banner-img banner-img-zoom">
            <a href="/shop"><img src="/images/banner/banner-6.jpg" alt=""></a>
          </div>
          <div class="banner-content-2">
            <h2>Independent Living</h2>
            <h3 class="d-none d-sm-block">Classic Personal Vaporizer</h3>
            <h4>$35.00</h4>
            <div class="btn-style-1">
              <a class="font-size-14 btn-1-padding-2" href="/shop">Shop now </a>
            </div>
          </div>
          <div class="banner-badge-2 banner-badge-2-position1">
            <h3>
              <span>Best</span>
              Selling
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="banner-wrap wow tmFadeInUp mb-30">
          <div class="banner-img banner-img-zoom">
            <a href="/shop"><img src="/images/banner/banner-7.jpg" alt=""></a>
          </div>
          <div class="banner-content-3">
            <span>Home Medical Supplies</span>
            <h2>Digital Thermometer</h2>
            <h4>$45.00 - $55.00</h4>
            <div class="btn-style-1">
              <a class="font-size-14 btn-1-padding-2" href="/shop">Shop now </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if(typeof brands != 'undefined' && brands.length > 0){ %> 

  <div class="brand-logo-area pb-35">
    <div class="custom-container">
      <div class="section-title-1 wow tmFadeInUp mb-30">
        <h2>Shop by brands</h2>
      </div>
      <div class="row align-items-center wow tmFadeInUp">
        <% brands.forEach(brand => { %>
         
        <div class="col-lg-2 col-md-4 col-6 col-sm-4">
          <div class="single-brand-logo mb-30">
            <a href="/shop?brand=<%= brand._id %>"><img src="/uploads/brands/<%= brand.image %>" alt=""></a>
          </div>
        </div>
        
        <% }) %>
      </div>
    </div>
  </div>

<% } %> 

<% if(typeof testimonials != 'undefined' && testimonials.length > 0 ){ %> 
  <div class="testimonial-area pb-75">
    <div class="custom-container">
      <div class="section-title-btn-wrap mb-35">
        <div class="section-title-1">
          <h2>We love our clients</h2>
        </div>
        <div class="btn-style-2 mrg-top-xs">
          <a href="#">View all reviews <i class="far fa-long-arrow-right"></i></a>
        </div>
      </div>
      <div class="testimonial-active-1 wow tmFadeInUp nav-style-2 nav-style-2-modify-1">
        <% testimonials.forEach(testimonial => { %>
         
          <div class="testimonial-plr-1">
            <div class="single-testimonial">
              <h4><%= testimonial.title %></h4>
              <%- testimonial.description %> 
              <div class="client-info">
                <h5><%= testimonial.name %></h5>
                <span><%= testimonial.designation %></span>
              </div>
            </div>
          </div>
        
        <% }) %>
      </div>
    </div>
  </div>
<% } %> 
<div class="contact-area bg-gray-2">
  <div class="custom-container">
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-6 col-12 col-sm-6">
        <div class="single-contact-wrap text-center wow tmFadeInUp">
          <h4>Store location</h4>
          <p> 219 Amara Fort Apt. 394</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-12 col-sm-6">
        <div class="single-contact-wrap text-center wow tmFadeInUp">
          <h4>Work inquiries</h4>
          <p> hello@medizin.com</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-12 col-sm-6">
        <div class="single-contact-wrap text-center wow tmFadeInUp">
          <h4>Call us</h4>
          <p> 800 388 80 90</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-12 col-sm-6">
        <div class="single-contact-wrap text-center wow tmFadeInUp">
          <h4>Open hours</h4>
          <p> Mon-Sat : 08.00 - 18.00</p>
        </div>
      </div>
    </div>
  </div>
</div>

