<style>
    .billing-info-wrap .billing-info .error {
        color: red;
    }
</style>
<div class="breadcrumb-area breadcrumb-area-padding-2 bg-gray-2">
    <div class="custom-container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">Checkout</li>
            </ul>
        </div>
    </div>
</div>
<div class="checkout-area pt-75 pb-75">
    <div class="container">
        <form method="POST" id="checkout" action="/cart/checkout">
            <div class="row">
                <div class="col-lg-7">
                    <% if(typeof addressess != 'undefined' ){ %> 
                        <div class="customer-zone padding-20-row-col mb-10">
                            <p class="cart-page-title"><b>Select Delivery Address</b> <a class="checkout-click1" href="#">Click here to See</a></p>
                            <div class="checkout-login-info" style="display: block;">
                                <% if(addressess.length > 0){ %>
                                    <% addressess.forEach(address => { %>
                                    
                                        <div class="card m-2">
                                            <div class="card-body">
                                                <input  type="radio" name="oldaddress" id="address-<%= address._id %> " value="<%= address._id %>">
                                                <span>
                                                    <p><%= address.firstname %>  <%= address.lastname %> </p>
                                                    <p><%= address.street %> ,  <%= address.apartment %> , <%= address.city %> , <%= address.state %> , <%= address.zip %> , <%= address.email %>  , <%= address.phone  %> </p>
                                                </span>
                                            </div>
                                        </div>

                                    <% }) %>
                                <% }else{ %>
                                    <h1>We Did't find any saved address please create first</h1>
                                    <a href="/user/my-account#createaddress" >Create Address</a>
                            </div>
                        </div>
                    <% } %> 
                    <div class="payment-details-area">
                        <h4>Payment information</h4>
                        <div class="payment-method">
                            <div class="sin-payment">
                                <input id="payment-method-4" class="input-radio" type="radio" value="paypal"
                                    name="payment_method">
                                <label for="payment-method-4">
                                    <span>
                                        <img class="nomal-img" src="/images/icon-img/paypal.png" alt="">
                                        <img class="active-img" src="/images/icon-img/paypal-active.png" alt="">
                                    </span>
                                    PayPal
                                </label>
                                <div class="payment-box payment_method_bacs">
                                    <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="order-summary">
                        <div class="order-summary-title">
                            <h3>Order summary</h3>
                        </div>
                        <div class="order-summary-top">
                            <% total = null; %> 
                            <% cartItems.forEach(item => { %>
                            
                                <div class="order-summary-img-price">
                                    <div class="order-summary-img-title">
                                        <div class="order-summary-img">
                                            <a href="/product/<%=  item.productId.slug  %>"><img src="/uploads/<%= item.productId.image  %>" alt="<%= item.productId.title  %> "></a>
                                        </div>
                                        <div class="order-summary-title">
                                            <h4><%= item.productId.title %> <span>× <%= item.quantity %> </span></h4>
                                        </div>
                                    </div>
                                    <div class="order-summary-price">
                                        <% total += item.productId.price * item.quantity %> 
                                        <span>$<%= parseFloat(item.productId.price * item.quantity).toFixed(2)  %></span>
                                    </div>
                                </div>

                            <% }) %>
                        </div>
                        <div class="order-summary-middle">
                            <ul>
                                <li>Subtotal <h4>$<%= parseFloat(total).toFixed(2)  %></h4>
                                </li>
                                <li>Shipping <h4><span>Flat rate:</span><span class="price">$0.00</span></h4>
                                </li>
                            </ul>
                        </div>
                        <div class="order-summary-bottom">
                            <h4>Total <span>$<%= parseFloat(total).toFixed(2)  %></span></h4>
                        </div>
                    </div>
                    <div class="order-summary">
                        <button type="submit" class="btn btn-info rounded mt-2" style="width: 100%;">Proceed To Pay</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>