<script src="https://cdn.ckeditor.com/4.20.1/standard/ckeditor.js"></script>
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Update Banner</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                    <li class="breadcrumb-item"><a href="/admin/banner">Banners</a></li>
                    <li class="breadcrumb-item active">Update</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="card card-primary">
                <div class="card-header">
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/admin/banner/update/<%= banner._id %>" id="bannerform" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" name="title" id="title" class="form-control" value="<%= banner.title %> " >
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea id="description" name="description" class="form-control" rows="4">
                                <%= banner.description %> 
                            </textarea>
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="text" name="price" id="price" class="form-control" value="<%= banner.price %>" >
                        </div>
                        <div class="form-group">
                            <label for="price">Link</label>
                            <input type="text" name="link" id="link" class="form-control" value="<%= banner.link %>" >
                        </div>
                        <div class="form-group">
                            <label for="image">Image</label>
                            <input type="file" id="image" name="image" class="form-control form-control-lg" value="">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-success float-right">
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <% if (banner.image != null) { %>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="/uploads/banners/<%= banner.image  %> "  style="object-fit: fill; width: 100%;" />
                    </div>
                </div>
            </div>
        <% } %> 
    </div>
</section>
<!-- /.content -->
<script>
    CKEDITOR.replace( 'description' );
</script> 